body {
  background-color: aquamarine;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

h1 {
  color: brown;
}

.form-paragraph {
  color: red;
}

#your-name {
  background-color: rgb(77, 255, 196);
  border: 5px solid #444;
}
